{% load static %}

<html>
<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Online-shop{% endblock %}</title>
<link href="{% static 'css/base.css' %}" rel='stylesheet'>
</head>
<body>
<div id="header">
<a href="/" class="logo">Online-shop</a>
</div>
<div id="subheader">
    <div class="basket">
        {% with total_items=basket|length %}
        {% if basket|length > 0 %}
        В корзине:
        <a href="{% url 'basket:basket_detail' %}">
         {{ total_items }} шт ,${{ basket.get_total_price }}
         </a>
        {% else %}
        <button type="submit">Корзина пустая</button>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}
{% block content %}{% endblock %}
</div>
</body>
</html>