{% load static %}

<html>
<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Online-shop{% endblock %}</title>
<link href="{% static 'css/base.css' %}" rel='stylesheet'>
</head>
<body>
<div id="header">
<a href="/" class="logo">Online-shop</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        В корзине:
        <a href="{% url 'cart:cart_detail' %}">
         {{ total_items }} шт ,${{ cart.get_total_price }}
         </a>
        {% else %}
        <button type="submit">Корзина пустая</button>
        <button type="submit">Войти</button>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>